.top
{
	min-height: 30vh;
}

.mid
{
	min-height:15vh;
}

.bottom
{
	min-height:15vh;
}

.health-bar
{
	width:100%;
	height:30px;
}

ul
{
	list-style-type: none;
}

li.player-turn
{
	background-color: pink;
}

li.monster-turn
{
	background-color: DodgerBlue;
}
